* {
    border: 0;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#img_cover_top{
    height: 30%;
    width: 100%;
    background-color: cyan;
}

.menu {
    width: 100%;
    background-color: darkgray;
}

#new_feed{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: cyan;
}
